
#main{

}

#chatscreen{
  width: 60%;
  margin-left: 20%;
}

#chatwindow {
  font-size: 18px;
  color: #11e213;
  display: block;
  overflow-x:hidden;
  overflow-y:auto;
  background-color: black;
  top:20vh;
  height: 75vh;
}

#inputbar{
  width: 70%;
  margin-left: 15%;
  margin-top: 5vh;
  vertical-align:top;
}
