
#main{

}

#screen{
  width: 80%;
  margin-left: 15%;
}

#media {
  width: 60%;
  font-size: 18px;
  /*color: #11e213;*/
  display: block;
  /*background-color: black;*/
  top:20vh;
}

.account{
  float: right;
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.progressor {

}


#chatscreen {
  border-width: 2px;
  border-color: black;
  width: 30%;
  font-size: 10px;
  /*color: #11e213;*/
  overflow-x:hidden;
  overflow-y:auto;
  height: 45vh;
  position: fixed;
  top:0;
  margin-top: 4%;
  margin-left: 50%;
  background-color: rgba(247, 247, 247, 0.87);
}

.md-input-container {
  width: 100%;
  min-height: 40px;
  margin: 4px 0 24px;
  padding-top: 0px;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.md-theme-default.md-progress {
    background-color: rgba(255, 255, 255, 1);
}

.md-theme-default.md-progress:not(.md-indeterminate) .md-progress-track {
    background-color: rgba(33, 150, 243, .38);
}

.md-select{
  width: 100%;
  height: 32px;
  position: relative;
}
#inputbar{
  padding-top: 0px;
  width: 57%;
  margin-left: 3%;
  display: inline-flex;
  /*margin-top: 5vh;*/
  /*vertical-align:top;*/
}

.sidenavlist{
    padding-right: 0px;
    padding-left: 0px;

}
.series{
  position: relative;
  margin-top: 2vh;
  margin-left: 15%;
}

.about{
  position: relative;
  margin-left: 15%;
  margin-top: 8vh;
  bottom: 5vh;
}

.qa{

    min-width: 0;
}

.line{

    min-width: 0;
}
